body{


    background:linear-gradient(#FFF8EA,#9E7676,#815B5B,#594545 );
    background-repeat:no-repeat;
    background-size: 190% 190%;

    

}

.carousel-inner{
    height: 90%;
    width: 90%;
    position: relative;
    margin-left: 60px;
}

.titulo{
    text-align: center;
    font-size: 32px;
}


.text{
    font-size: 28px;
    
}

.text2{

    text-align: center;
   
}

.cards{
   
   border: 2px solid;
   block-size: 300%;
   image-rendering: 100px 50px;
   margin: 34px;
   padding: 10px;
   width: 300%;
   border-radius: 50px;
   overflow: hidden;
   background-color: white;

   
   
   
}

.cards2{

    display: flex;

}


.jaquetas{

    display: flex;
    size: 5px, 5px, 5px, 5px;
    overflow: hidden;
    border-radius: 50px;
    background-color: white;
    margin: 34px;
    padding: 10px;
    width: 300%;

}


.img{

    margin-right: 30px;
}
    
    


